html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 32px;
  width: 21em;
  margin: 0 auto;
  padding: 0.5em 0;

  height: 100vh;

  font-family: monospace;
  background-color: yellow;
  text-align: center;
  color: rgb(0,150,255);
}

#aList{
    list-style: none;
}


#choice{
    font-size: 50px;
    text-transform: uppercase;
}

#pickButton {
  font-size: 15px;
  font-family: monospace;
  background-color: black;
  color: white;
}

#clickButton {
    font-family: cursive;
    font-size: 15px;
    text-decoration-color: white;
    background-color: black;
    color: #fff;
}

#duoButton {
    font-size: 15px;
    font-family: fantasy;
    background-color: black;
    color: white;
}

#duoButton:hover{
    color: aqua;
    background-color: brown;
}

#titleButton {
    font-size: 15px;
    font-family: fantasy;
    background-color: black;
    color: white
}

img {
  max-width: 90%;
  border-radius: 100%;
}
